.pushable {
  position: relative;
  background: transparent;
  padding: 0px;
  border: none;
  cursor: pointer;
  outline-offset: 4px;
  outline-color: #e5e5e5;
  transition: filter 250ms;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}

.shadow {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, 0);
  border-radius: 8px;
  filter: blur(2px);
  will-change: transform;
  transform: translateY(2px);
  transition: transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.edge {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
      hsl(0, 0%, 80%) 0%,
      hsl(0, 0%, 95%) 8%,
      hsl(0, 0%, 80%) 92%,
      hsl(0, 0%, 65%) 100%);
}

.edgeDark {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  border-radius: 8px;
  background: linear-gradient(to right,
      hsl(0, 0%, 16%) 0%,
      hsl(0, 0%, 24%) 8%,
      hsl(0, 0%, 16%) 92%,
      hsl(0, 0%, 8%) 100%);
}


@keyframes popUp {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-6px);
  }
}

.front {
  display: block;
  position: relative;
  border-radius: 8px;
  background: white;
  padding: 16px 32px;
  color: hsl(0, 0%, 20%);
  font-weight: 700;
  /* letter-spacing: 1.5px; */
  font-size: 1rem;
  transform: translateY(-6px);
  transition: transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.frontDark {
  display: block;
  position: relative;
  border-radius: 8px;
  background: hsl(0, 0%, 9%);
  padding: 16px 32px;
  color: white;
  font-weight: 700;
  /* letter-spacing: 1.5px; */
  font-size: 1rem;
  transform: translateY(-6px);
  transition: transform 600ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.animateIntro .front,
.animateIntro .frontDark {
  animation: popUp 800ms cubic-bezier(0.34, 1.56, 0.64, 1) 400ms backwards;
}

.pushable:hover {
  filter: brightness(110%);
}

.pushable:hover .front,
.pushable:hover .frontDark {
  transform: translateY(-10px);
  transition: transform 400ms cubic-bezier(0.4, 2.5, 0.2, 1);
}

.pushable:active .front,
.pushable.simulateActive .front,
.pushable:active .frontDark,
.pushable.simulateActive .frontDark {
  transform: translateY(2px);
  transition: transform 100ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.pushable:hover .shadow {
  transform: translateY(4px);
  transition: transform 400ms cubic-bezier(0.4, 2.5, 0.2, 1);
}

.pushable:active .shadow,
.pushable.simulateActive .shadow {
  transform: translateY(1px);
  transition: transform 100ms cubic-bezier(0.34, 1.56, 0.64, 1);
}

.pushable:focus:not(:focus-visible) {
  outline: none;
}